<plugin name='searchable' version='0.5.1'>
  <author>Maurice Nicholson</author>
  <authorEmail>maurice@freeshell.org</authorEmail>
  <title>Adds rich search functionality to Grails domain models. This version is recommended for JDK 1.5+</title>
  <documentation>http://grails.org/Searchable+Plugin</documentation>
  <resources>
    <resource>SearchableUrlMappings</resource>
    <resource>SearchableController</resource>
    <resource>SearchableService</resource>
  </resources>
  <dependencies>
    <plugin name='dataSource' version='1.1-beta1' />
    <plugin name='domainClass' version='1.1-beta1' />
    <plugin name='i18n' version='1.1-beta1' />
    <plugin name='core' version='1.1-beta1' />
    <plugin name='hibernate' version='1.1-beta1' />
  </dependencies>
</plugin>